/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    color: 1A1A1A;
}

#men {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}

#logo {
    display: flex;
    height: 100px;

}

#but {
    display: flex;
    font-size: xx-large;

    align-self: center;

}

.butt {
    margin: 30px;
}


#land {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    font-size: 5rem;
    background-image: url("/images/landing.jpg");
    color: white;
    padding: 7rem 7rem 7rem 7rem;
    background-size: contain;
    text-align: center;
}

#main-text {
    font-size: 10rem;
}

h1 {
    text-align: center;
    padding: 0pm;
    font-size: 5rem;
    font-weight: bolder;
    /* text-decoration:  underline solid green 5px; */
}

hr {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    height: 7px;
    border-width: 0;
    color: green;
    background-color: green;
}

#upper-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    border: solid orange 5px;
    padding: 5em;
}

.elem {
    display: flex;
    flex-direction: column;
    text-align: center;


    border: solid yellow 5px;
    padding: 4rem;
    font-size: 4rem;
    margin: 6rem;
    width: 20%;
}
.small-img{
    width: 30%;
    height: auto;
    align-self: center;

}

h3 {
    color: green
}

#last {
    display: flex;
    color: white;
    background-color: green;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}

#last-text {
    margin: 5%;
    width: 30%;
    font-size: 2.5rem;
    color: white;
    padding: 2rem;
}

#spoty-sign {
    align-self: center;
    width: 25%;
    display: flex;
}

#spoty-sign-image {
    width: 30%;
    height: auto;
}

#flute {
    width: 20%;
    align-self: center;
    display: flex;
}


h5 {
    text-decoration: underline;
    font-size: 4rem;
}